<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junmoyu.iam.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.junmoyu.iam.model.entity.UserEntity">
    <!--@Table sys_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="disable" jdbcType="TINYINT" property="disable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, `password`, nickname, gender, avatar, mobile, email, `disable`, create_time, 
    update_time
  </sql>

  <select id="listRoles" resultType="java.lang.String">
    -- 方式一：获取用户直接关联的角色
    SELECT r.`code`
    FROM sys_role r
    INNER JOIN sys_user_role ur ON r.id = ur.role_id
    WHERE ur.user_id = #{userId,jdbcType=BIGINT} AND r.disable = 0
  </select>

  <select id="listPermissions" resultType="java.lang.String">
    SELECT DISTINCT p.`code`
    FROM sys_user u
           JOIN sys_user_role ur ON u.id = ur.user_id
           JOIN sys_role_permission rp ON ur.role_id = rp.role_id
           JOIN sys_permission p ON rp.permission_id = p.id
    WHERE u.id = #{userId,jdbcType=BIGINT}
      AND p.`code` IS NOT NULL;
  </select>
</mapper>